body{
    margin:0px;
    display: flex;
    overflow: hidden;
}
.logo, .info{
    width: 30vw;
    height: 100vh;
    margin:0px;
    position: relative;
    text-align: center;
    /* border: 3px solid purple; */
}
.info{
    width: 70vw;
    /* border:3px solid green */
}
.logo_img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.logo_title{
    display: flex;
    justify-content: center;
    align-items: baseline;
    object-fit: cover;
    position: absolute;
    height: 15%;
    width: 100%;
    top:30%;
    left: 0%;
    background-color: rgba(38, 204, 204, 0.236);
    object-fit: cover;
    color: rgb(255, 255, 255);
}
.brand{
    height: 8vh;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1vw;
    max-zoom: 100%;
}
h1{
    font-family: garamond;
    text-align: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 3vh;
}
.info{
    background-color: rgba(111, 179, 205, 0.327);
}
.info > .top_text{
    /* border: 2px solid black; */
    width: 60vw;
    font-size:1.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    text-align: left;
    font-weight: 550;
    font-family: Courier;
}
.info > .signin_form{
    font-family: Courier;
    border: 2px solid black;
    height: 150px;
}
input, label{
    display: block;
    text-align: left;
    margin-top: 5px;
}
