body{
    margin:0px;
    display: flex;
}
.logo, .info{
    width: 30vw;
    height: 100vh;
    margin:0px;
    position: relative;
    text-align: center;
    /* border: 3px solid purple; */
}
.logo{
    overflow: hidden;
}
.info{
    width: 55vw;
    height: 85vh;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
    /* border:3px solid green */
    background-color: rgba(111, 178, 205, 0.548);
    box-shadow: 5px 5px 5px 5px rgba(33, 28, 28, 0.407);
}
.logo_img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}
.logo_title{
    display: flex;
    justify-content: center;
    align-items: baseline;
    object-fit: cover;
    position: absolute;
    height: 15%;
    width: 100%;
    top:30%;
    left: 0%;
    background-color: rgba(38, 204, 204, 0.236);
    object-fit: cover;
    color: rgb(255, 255, 255);
}
.brand{
    height: 8vh;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1vw;
    max-zoom: 100%;
}
h1{
    font-family: garamond;
    text-align: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 3vh;
}

.info > .top_text{
    /* border: 2px solid black; */
    width: 50vw;
    font-size:1.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    text-align: left;
    font-weight: 550;
    font-family: Courier;
}
.signin_form{
    font-family: Courier;
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.443);
    border-radius: 10px;
    margin-top: 80px;
    height: 35vh;
    display: flex;
    flex-wrap: wrap;
    width: 45vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.564);
    box-shadow: 5px 5px 5px 5px rgba(33, 28, 28, 0.407);
}
.input{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 16vw;
    height: 9vh;
    flex-shrink: 1;
}
.input > *{
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 900;
    color: rgba(4, 44, 74, 0.853);
}
input{
    width: 12vw;
    height: 2.5vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border:2px solid rgb(16, 85, 85);
    border-radius: 5px ;
    font-family: Courier;
    background-color: rgba(135, 147, 175, 0.41);
}
input:focus{
    box-shadow: 2px 2px 2px 2px rgba(33, 28, 28, 0.407);
    border:2px solid rgba(38, 204, 204, 0.236);
    outline-width: 0;
}
button{
    font-family: Courier;
    font-size: medium;
    font-weight: 900;
    margin-top: 50px;
    align-items: end;
    height: 40px;
    width: 180px;
    border-radius: 12px;
    background-color:rgba(64, 119, 119, 0.561);
    border: 1px;
    box-shadow: 2px 2px 2px 2px rgba(33, 28, 28, 0.407);
}
button:hover{
    background-color:rgb(38, 204, 204);
}
.log_in{
    font-family: Courier;
    font-size: 15px;
    /* border: 1px solid black; */
    width: 200px;
    margin-left: auto;
    margin-right:auto ;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.log_in:hover{
   text-decoration: underline; 
   
}